* {
    box-sizing: border-box;
}

.navigation-hamburger {
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.line-wrap {
    margin: 10px 0 0 13px;
    overflow: hidden;
    width: 45%;
}

 .line {
    height: 3px;
    background: black;
    display: block;
    margin: 5px auto;
    border-radius: 5px;
}

.is-open {
    .line, .cross-line {
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
    .line1 {
        animation-name: jiggleLeft;
        animation-delay: 0.45s;
    }
    .line2 {
        animation-name: jiggleRight;
        animation-delay: 0.30s;
    }
    .line3 {
        animation-name: jiggleLeft;
        animation-delay: 0.15s;
    }
    .cross-line1 {
        animation-name: crossLeft;
        animation-delay: 0.60s;
    }
    .cross-line2 {
        animation-name: crossRight;
        animation-delay: 0.75s;
    }
}

.cross-wrap {
    position: absolute;
    top: -12px;
    margin: 10px 0 0 13px;
    width: 50%;
    height: 50px;
    transform: rotate(45deg);
    .cross-line {
        height: 3px;
        width: 100%;
        background: red;
        position: absolute;
    }
    .cross-line1 {
        top: 50%;
        transform: translateX(-40px);
    }
    .cross-line2 {
        top: 50%;
        transform: rotate(90deg) translateX(-40px);
    }
}



@keyframes jiggleLeft {
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(-25px);
    }
}

@keyframes jiggleRight {
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(25px);
    }
}

@keyframes crossLeft {
    100% {
        transform: translateX(0);
    }
}

@keyframes crossRight {
    100% {
        transform: rotate(90deg) translateX(0);
    }
}
