.navigation-hamburger {
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.line-wrap {
    margin: 10px 0 0 12px;
    overflow: hidden;
    width: 50%;
}

 .line {
    height: 3px;
    background: black;
    display: block;
    margin: 5px auto;
    border-radius: 5px;
}

.is-open {
    .line{
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
    .line1 {
        animation-name: jiggleLeft;
        animation-delay: 0.45s;
    }
    .line2 {
        animation-name: jiggleRight;
        animation-delay: 0.30s;
    }
    .line3 {
        animation-name: jiggleLeft;
        animation-delay: 0.15s;
    }
}

@keyframes jiggleLeft {
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(-25px);
    }
}

@keyframes jiggleRight {
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(25px);
    }
}
